/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CODE */

.calculator {
    width: 400px;
    height: 600px;
    margin: 100px auto;
    background-color: rgb(9, 58, 100);
    padding: 10px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    
}

.display {
    background-color: rgb(128, 126, 126);
    height: 100px;
    width: 380px;
    margin: 0 auto 10px;
    display: block;
    box-sizing: border-box;
    
    padding: 5px;
}

.display-text {
    width: 370px;
    height: 80px;
    background-color: white;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display-text > p {
    font-size: 48px;
    padding: 5px;
    overflow: auto;
}

.buttons {
    height: 100%;
    display: flex;

}

button {
    height: 20%;
}

.centralButtons {
    flex: 1 0 75%;

    display: flex;
    flex-wrap: wrap;
}

.centralButtons > button {
    flex: 1 0 33.3333%;
}

.sideButtons {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
}

#equal {
    flex-basis: 40%;
}

#zero {
    flex-grow: 0;
}