.calculator {
    width: 400px;
    height: 600px;
    margin: 100px auto;
    background-color: rgb(9, 58, 100);
    padding: 10px;

    
}

.display {
    background-color: rgb(128, 126, 126);
    height: 100px;
    width: 400px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    /* width: 100px;
    height: 100px; */
    flex: 1 0 25%;
}

